
<html>
    <head><script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script></head>
<body>
<footer class="footer">
    <div class="contact-section">
        <h2 class="contact-title">C o n t a c t  M e</h2>
        <div class="line"></div>
        <p class="subtitle">Ready to collaborate and discuss new opportunities.</p>
        <div class="dots">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    <div class="contact-sect">
        <div class="contact-item">
            <i class="bi bi-telephone"></i>
            
            <p>+212 6 99 95 10 27</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            
            <p>badr.rezouki&#64;ump.ac.ma</p>
        </div>
        <div class="contact-item">
            <i class="fab fa-linkedin"></i>
            
            <p>www.rezouki.com</p>
        </div>
        <div class="contact-item">
            <i class="fab fa-github"></i>
            
            <p>www.rezouki.com</p>
        </div>
        <a href="https://wa.me/212699951027" target="_blank" class="whatsapp-float">
            <i class="fab fa-whatsapp"></i>
          </a>
          
      <div class="message-container">
        <div class="message">
            <p><em>Thanks for visiting my portfolio! I'm always open to new opportunities and collaborations. Looking forward to connecting with you!</em></p>
        </div>
        <p class="id">© 2025 Chaimae Benali.</p>
    </div>
    </div>
</footer>
</body>
</html>


