
<html>
    <head><script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script></head>
<body>
<footer class="footer" id="contact">
    <div class="contact-section">
        <h2 class="contact-title">C o n t a c t  M e</h2>
        <div class="line"></div>
        <p class="subtitle">Ready to collaborate and discuss new opportunities.</p>
        <div class="dots">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    <div class="contact-sect">
        <div class="contact-item">
            <i class="bi bi-telephone"></i>
            
            <a href="tel:+212628901443">+212 628901443</a>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            
            <a href="mailto:chaimaebenali01@gmail.com">chaimaebenali01&#64;gmail.com</a>
        </div>
        <div class="contact-item">
            <i class="fab fa-linkedin"></i>
            
            <a href="https://www.linkedin.com/in/chaimae-benali-b96890271?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Chaimae Benali</a>
        </div>
        <div class="contact-item">
            <i class="fab fa-github"></i>
            
            <a href="https://github.com/chaimaeb627">chaimaeb627</a>
        </div>
        <a href="https://wa.me/212628901443" target="_blank" class="whatsapp-float">
            <i class="fab fa-whatsapp"></i>
          </a>
          
      <div class="message-container">
        <div class="message">
            <p><em>Thanks for visiting my portfolio! I'm always open to new opportunities and collaborations. Looking forward to connecting with you!</em></p>
        </div>
        <p class="id">© 2025 Chaimae Benali.</p>
    </div>
    </div>
</footer>
</body>
</html>


