<section class="timeline" id="experiences">
    <h2 class="title">
        My Academic Background <span>&</span> Work Experience
    </h2>
    <div class="underline">
        <div class="line large"></div>
        <div class="line small"></div>
    </div>
    

    <div class="timeline-container">

        <!-- Éducation -->
        <div class="timeline-item left">
            <div class="content">
                <h3>EDUCATION</h3>
                <span class="date">Sept 2024 - June 2025</span>
                <h4>Ecole Nationale des Sciences Appliquées Oujda</h4>
                
                <ul>
                    <li>Web Development: React, Angular, Symfony, Spring Boot</li>
                    <li>Programming languages: C#.</li>
                    <li>Tools: VS Code, Android Studio</li>
                    <li>Database: SQL Server, SQLite, Firebase</li>
                    <li>Mobile: Android, Java</li>
                    <li>Project Management Methodologies: Agile-Scrum</li>
                </ul>
                
            </div>
        </div>

        <!-- Expérience -->
        <div class="timeline-item right">
            <div class="circle"></div>
            <div class="content">
                <h3>EXPERIENCE</h3>
                <span class="date">July 3, 2024 - August 2, 2024</span>
                <h4>ALOmrane Oujda</h4>
                
                <ul>
                    <ul>
                        <li class="omrane">During this internship, I gained practical experience in developing the <span class="highlight">front-end</span> part of a website dedicated to the company's departments, with two versions: one using <span class="highlight">HTML</span>, <span class="highlight">CSS</span>, and <span class="highlight">Bootstrap</span>, and the other with WordPress. Additionally, the use of <span class="highlight">SAP</span> and <span class="highlight">ERP</span> tools strengthened my skills in business process management.</li>
                    </ul>
                    
                    
                </ul>
                <div class="flex justify-end">
                    <a href="/cc.jpg" 
                       target="_blank" 
                       rel="noopener noreferrer" 
                       class="text-gradient">
                        View Certificate
                    </a>
                </div>
                
            </div>
        </div>
        <!-- Certification -->
<div class="timeline-item left">
    <div class="content">
        <span class="date">Sept 2023 - June 2024</span>
        <h4>Ecole Nationale des Sciences Appliquées Oujda</h4>
                
                <ul>
                    <li>Programming languages: C++, Java (Basics and Object-Oriented Programming)</li>
                    <li>Data Structures</li>
                    <li>Database Management: SQL and PL/SQL (MySQL and Oracle)</li>
                    <li>Web Development: HTML, CSS, JavaScript</li>
                    <li>Conception : UML, Merise</li>
                    <li>Other: XML, PHP</li>
                </ul>
        <div class="flex justify-end">
            
        </div>
    </div>
</div>
<div class="timeline-item left" style=" position: relative ; top :-55px ;">
    <div class="content">
        
        <span class="date">Obtained: June 2024</span>
        <h4>Certification CCNA : Intraduction to Networks</h4>
        <h5>Successfully completed a certification course on:</h5>
        <ul>
            <li>I completed the CCNA certification course, gaining a solid understanding of networking fundamentals, including routing and switching, network security, and troubleshooting, to effectively manage and configure Cisco networks.</li>
            
            
        </ul>
        <div class="flex justify-end">
            <a href="https://www.credly.com/badges/963ac5c0-141e-4444-bad9-0b602e279a0c/linked_in_profile" 
               target="_blank" 
               rel="noopener noreferrer" 
               class="text-gradient">
                View Certificate
            </a>
        </div>

        <div class="flex justify-end">
            
        </div>
    </div>
</div>
<div class="timeline-item left">
    <div class="content">
        
        <span class="date">Sept 2021 - June 2023</span>
                <h4>Ecole Nationale des Sciences Appliquées Oujda</h4>
                <h5>Preparatory Cycle-Sciences and Techniques for Engineering : </h5>
                <ul>
                    <li>Programming language: MATLAB, C.</li>
                    
                </ul>
        <div class="flex justify-end">
            
        </div>
    </div>
</div>


        <!-- Additional Training (Sous Éducation) -->
        

        <!-- Certifications (Sous Additional Training) -->
        

    </div>
    
</section>