 <section class="about-me" id="about">
    <h2>About me  <span></span></h2>
    <div class="underline">
      <div class="line large"></div>
      <div class="line small"></div>
    </div>
    <p>
        My name is Chaimae Benali, I am twenty-one years old, and I am currently in my second year of computer engineering at ENSAO. Over the course of my studies, I have developed strong skills in programming , web development and Mobile Development , which I have put into practice through various academic projects. These projects have not only reinforced my technical knowledge but have also allowed me to cultivate teamwork and project management skills, essential in a collaborative setting. I am also passionate about continuous learning and always eager to explore new technologies, tools, and concepts.
    </p>
  
    
  
    <div class="skills">
      <div class="skill-card">
        <div class="icon">💻</div>
        <h3>Frontend Development</h3>
        <p>
            I take static designs and transform them into dynamic and responsive user experiences, ensuring they are both intuitive and functional across all devices.
        </p>
      </div>
  
      
  
      <div class="skill-card">
        <div class="icon">🗄</div>
        <h3>Backend Development</h3>
        <p>
            I design robust back-end systems and high-performance databases, ensuring seamless communication with the front-end. I create scalable solutions by integrating efficient APIs and managing server logic.
        </p>
      </div>
    </div>
  </section>